<%- include("partials/header.ejs") %>

<div class="home">
    <div class="home-content">
        <h1>Welcome to Blog</h1>
        <p>Discover the World of Blog – Your Daily Source of Inspiration.</p>
      </div>
</div>

<%- include("partials/footer.ejs")  %>